/* Global variables
========================================================================== */

$font-heading: 'RomanaBT-Roman', serif;
$font-body: 'BureauGrotWide Light', -apple-system, sans-serif;

// colors
$white: #fff;
$white-soft: #f9f9f9;
$black: rgba(0, 14, 27, 1);

$red: #f04e44;
$blue: #78a6ff;

$color-main: #f04e44;
$color-accent: #f04e44;
